
# DB 주소 (팀원들도 똑같이 'fashion_db'라는 방을 만들어야 함)
spring.datasource.url=jdbc:mysql://localhost:3306/fashion_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# 아이디 (각자 본인 컴퓨터의 MySQL 아이디 입력)
spring.datasource.username=[여기에_본인_ID_입력]

# 비밀번호 (각자 본인 컴퓨터의 MySQL 비밀번호 입력)
spring.datasource.password=[여기에_본인_비번_입력]

# 4. JPA 설정 (테이블 자동 생성 기능)
spring.jpa.hibernate.ddl-auto=update